/*Esto corresponde a seccion INDEX*/
* {
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

main {
  padding-top: 1%;
}

nav {
  height: 80px;
  width: 100%;
}

h1 {
  color: grey;
}

h2 {
  padding-left: 2%;
  margin: 2%;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  list-style: none;
}
a:visited {
  color: black;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.checkbtn {
  font-size: 30px;
  color: grey;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

.logo {
  height: 80px;
  padding: 4px;
}

/*Media VERSION 375-------*/
@media (min-width: 375px) {
  .logo {
    padding-left: 20px;
    margin: 1%;
  }
  nav ul li a {
    font-size: 16px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  h1 {
    padding: 2%;
  }
  h2 {
    padding: 4%;
  }
}
/*Media VERSION 992-------*/
@media (max-width: 992px) {
  h1 {
    margin: 4%;
  }
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    background: whitesmoke;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #check:checked ~ ul {
    left: 0;
  }
}
/*Media VERSION 1200-------*/
@media (max-width: 1200px) {
  h1 {
    margin: 2%;
  }
}
@media (min-width: 375px) {
  article a img {
    display: block;
    align-items: center;
    padding: 1px;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .prin {
    align-items: justify;
    padding-left: 15%;
  }
  .prin a img {
    display: inline;
    align-items: center;
    width: 40%;
  }
}
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../img/footimg.svg);
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box__footer .logofooter img {
  width: 200px;
}
.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: grey;
  font-size: 18px;
}
.box__footer h3 {
  margin-bottom: 30px;
  color: grey;
  font-weight: 700;
}
.box__footer a {
  margin-top: 10px;
  color: grey;
  font-weight: 600;
}
.box__footer a:hover {
  opacity: 0.8;
}

@media (max-width: 375px) {
  iframe {
    display: block;
    padding: 5%;
  }
}
.container__us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__us p {
  margin-top: 20px;
  font-weight: 500;
  color: grey;
  font-size: 18px;
  max-width: 1000px;
  padding: 40px;
}

.chicabolso img {
  width: 45%;
}
.chicabolso img:hover {
  opacity: 0.7;
  transition: 1s;
  transform: scale(1.1);
}

@media (max-width: 375px) {
  section .chicabolso img {
    padding-left: 1%;
    width: 100%;
  }
}
.publicidad {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.publicidad img {
  width: 100%;
}

p {
  margin: 1%;
}

@media (max-width: 375px) {
  .publicidad {
    display: block;
  }
  p {
    font-weight: 500;
    color: grey;
    font-size: 16px;
    margin: 2%;
    padding: 1px;
  }
}

/*# sourceMappingURL=style.css.map */
