/*Esto corresponde a seccion INDEX*/
* {
  margin: 0px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  list-style: none;
}

main {
  padding-top: 1%;
}

nav {
  height: 80px;
  width: 100%;
}

h2 {
  padding-left: 2%;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

.enlace {
  position: absolute;
  padding: 20px 50px;
}

.logo {
  height: 80px;
}

nav ul {
  float: right;
  margin-right: 20px;
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.checkbtn {
  font-size: 30px;
  color: grey;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  display: none;
}

#check {
  display: none;
}

.menu a:hover {
  color: white;
}

.li-link {
  padding: 10px;
}

/*Media VERSION 576-------*/
@media (max-width: 576px) {
  .enlace {
    padding-left: 20px;
  }
  nav ul li a {
    font-size: 16px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  h1 {
    margin: 8%;
  }
  article a img {
    display: inline-block;
    align-items: center;
    height: 700px;
  }
}
/*Media VERSION 992-------*/
@media (max-width: 992px) {
  .checkbtn {
    display: block;
  }
  nav ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    background: whitesmoke;
  }
  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  article a img {
    display: inline-block;
    align-items: center;
    height: 700px;
  }
  h1 {
    margin: 4%;
  }
}
/*Media VERSION 1200-------*/
@media (min-width: 1200px) {
  .img-index-inicio {
    align-items: center;
    padding-left: 10%;
  }
  .img-index-inicio img {
    width: 40%;
  }
  h1 {
    margin: 2%;
  }
  .slide img {
    width: 100%;
    align-items: center;
    padding-left: 4%;
    padding-right: 4%;
  }
  article a img {
    display: inline;
  }
}
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(/img/footimg.svg);
  background-size: cover;
}

.container__footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
.box__footer .logofooter img {
  width: 200px;
}
.box__footer .terms {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  color: grey;
  font-size: 18px;
}
.box__footer h3 {
  margin-bottom: 30px;
  color: grey;
  font-weight: 700;
}
.box__footer a {
  margin-top: 10px;
  color: grey;
  font-weight: 600;
}
.box__footer a:hover {
  opacity: 0.8;
}

header form {
  margin-left: 30%;
}

.visit .formcontact {
  margin-top: 50px;
  padding: 20px;
}
.visit .formcontact label {
  margin-top: 50px;
  padding: 20px;
}

.container__us {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
}

.box__us p {
  margin-top: 20px;
  font-weight: 500;
  color: grey;
  font-size: 18px;
  max-width: 1000px;
  padding: 40px;
}

.chicabolso img {
  width: 45%;
}
.chicabolso img:hover {
  opacity: 0.7;
  transition: 1s;
  transform: scale(1.1);
}

@media (max-width: 576px) {
  section .chicabolso img {
    height: 600px;
    width: 500px;
    display: block;
    padding-left: 1%;
  }
}
.publicidad {
  display: flex;
  justify-content: space-between;
  margin: 2%;
}
.publicidad img {
  width: 50%;
  height: 100%;
}
.publicidad p {
  font-weight: 500;
  color: grey;
  font-size: 16px;
  margin: 2%;
}

@media (max-width: 576px) {
  section .publicidad {
    display: block;
  }
  section .publicidad img {
    height: 500px;
    width: 576px;
  }
}
.catalogo img {
  width: 30%;
}
.catalogo p {
  font-weight: 500;
  color: grey;
  font-size: 16px;
  max-width: 50%;
  padding: 2%;
}

@media (max-width: 576px) {
  section article .catalogo img {
    display: inline-block;
  }
  section .catalogo img {
    height: 550px;
    width: 576px;
  }
}

/*# sourceMappingURL=style.css.map */
