

@media (min-width: 375px) {

    article a img {
        display: block;
        align-items: center;
        padding: 1px;
        width: 100%;
    }

}

@media (min-width: 1200px) {

    .prin {

align-items: justify;
padding-left: 15%;
    
    a img {
        display: inline;
        align-items: center;
        width: 40%;

    }
    }

    

}

