.checkbtn {
    font-size: 30px;
    color: rgb(61, 61, 61);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  @media (max-width: 992px) {
    .checkbtn {
      display: block;
    }
}